In [1]:
import re
import nltk
import pickle
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
physical_devices = tf.config.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(physical_devices[0], True)

In [34]:
data = pd.read_csv('test.csv')
labels = pd.read_csv('submit.csv')
data['label'] = labels['label']

In [35]:
data

,id,title,author,text,label
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning...",0
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...,1
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...,0
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different...",1
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...,1
...,...,...,...,...,...
5195,25995,The Bangladeshi Traffic Jam That Never Ends - ...,Jody Rosen,Of all the dysfunctions that plague the world’...,0
5196,25996,John Kasich Signs One Abortion Bill in Ohio bu...,Sheryl Gay Stolberg,WASHINGTON — Gov. John Kasich of Ohio on Tu...,1
5197,25997,"California Today: What, Exactly, Is in Your Su...",Mike McPhate,Good morning. (Want to get California Today by...,0
5198,25998,300 US Marines To Be Deployed To Russian Borde...,NaN,« Previous - Next » 300 US Marines To Be Deplo...,1
5199,25999,"Awkward Sex, Onscreen and Off - The New York T...",Teddy Wayne,Perhaps you’ve seen the new TV series whose pi...,0

In [36]:
data = data.iloc[:, 3:]
data.head()

                                                text  label
0  PALO ALTO, Calif.  —   After years of scorning...      0
1  Russian warships ready to strike terrorists ne...      1
2  Videos #NoDAPL: Native American Leaders Vow to...      0
3  If at first you don’t succeed, try a different...      1
4  42 mins ago 1 Views 0 Comments 0 Likes 'For th...      1

In [37]:
data = data.dropna()
data

                                                   text  label
0     PALO ALTO, Calif.  —   After years of scorning...      0
1     Russian warships ready to strike terrorists ne...      1
2     Videos #NoDAPL: Native American Leaders Vow to...      0
3     If at first you don’t succeed, try a different...      1
4     42 mins ago 1 Views 0 Comments 0 Likes 'For th...      1
...                                                 ...    ...
5195  Of all the dysfunctions that plague the world’...      0
5196  WASHINGTON  —   Gov. John Kasich of Ohio on Tu...      1
5197  Good morning. (Want to get California Today by...      0
5198  « Previous - Next » 300 US Marines To Be Deplo...      1
5199  Perhaps you’ve seen the new TV series whose pi...      0

[5193 rows x 2 columns]

In [38]:
len(data)

5193

In [39]:
def clean_data(text):
    text = re.sub('[^a-zA-Z]',' ', text)
    text = text.lower()
    text = text.split()
    stemmer = nltk.stem.PorterStemmer()
    stopwords = nltk.corpus.stopwords.words('english')
    text = [stemmer.stem(j) for j in text if j not in stopwords]
    return text

In [40]:
sentences = list(data['text'])
labels = list(data['label'])

In [41]:
data = []
for i in sentences:
    text = clean_data(i)
    data.append(text)

In [ ]:
x = [data, labels]

In [12]:
with open('test_data.pickle', "wb") as file:
        pickle.dump(x, file)